*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
    background-color:#F5E8DD;
}
.container
{
    width: 60%;
    min-height: 100px;
    /* border: 2px solid#000; */
    margin: auto;
}
.main-logo-menu
{
    width: 100%;
    min-height: 60px;
}
.logo
{
    width: 30%;
    height: 60px;
    background-color:#CCD3CA;
    float: left;
}
.logo h1
{
    padding: 5%;
    color: #ff0844;
    padding: 15px;
}
.menu
{
    width: 55%;
    height: 60px;
    background-color: #CCD3CA;
    float: right;   
    padding: 20px;
}
.menu a
{
    padding: 10px;
    color:#09203f;
    font-weight: bold;
    text-decoration: none;
}
.menu a:hover
{
    background-color: #09203f;
    color: #fff;
} 
.slider
{
    width:100%;
    min-height: 300px;
     /* border: 1px solid#000; */
    /*background-color: #ff0844; */
    margin-top:5px;
}
.slider img
{
    width: 100%;
    min-height: 100px;
}
.main-con
{
    width: 100%;
    min-height: 300px;
    /* border: 1px solid#000; */
    margin-top: 10px;
}
.main-con .sidebar
{
    width: 25%;
    min-height: 300px;
    float: left;
    /* background-color: #EED3D9; */
}
.sidebar h3
{
   padding: 10px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: #12372A;
}
.sidebar p
{
    padding: 5px;
    text-align: center;
}
.main-con .con
{
    width: 70%;
    min-height: 300px;
    float: right;
    background-color: #EED3D9;

}
.con.heading
{
    color: #12372A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
.con.heading h4
{
    padding: 10px;
}
.con.text p
{
    padding: 10px;
    text-align: center;
}
.slider2
{
    width: 100%;
    min-height: 300px;
    /* border: 1px solid#000; */
    margin-top: 10px;

}
.slider2 .img2
{
    width: 70%;
    min-height: 300px;
    float: left;
   /* border: 1px solid #000;
   background-color: #12372A; */
   background-color:#CCD3CA; 
} 
.slider2 .img2 img
{
    width: 100%;
    min-height: 100px;
}
.slider2 .text 
{
  width: 25%;
  min-height: 300px;
  float: right;
  /* background-color:#CCD3CA; */
  padding-top: 30px;
}
.slider2 .text p
{
    padding-top: 10px;
    text-align: center;
}
.footer
{
    width: 100%;
    min-height: 60px;
    background-color: #CCD3CA;
    margin-top: 5px;
}

.footer h4
{
    color: #000;
    text-align: center;
    padding-top: 20px;
}
.clearfix::after
{
    content: '';
    clear: both;
    display: block;
}

